<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Mumbo Jumbo is in Action!
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../../assets/mumbo-jumbo.png" />

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/welcome">
      <mat-icon>money</mat-icon>
      <span>Welcome</span>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin-left: 25px">
      <!-- <h3>Few summary content here</h3> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
