<mat-toolbar class="mat-elevation-z8">
  @if (sidenav.mode === 'over') {
  <button mat-icon-button (click)="sidenav.toggle()">
    @if (!sidenav.opened) {
    <mat-icon> menu </mat-icon>
    } @if (sidenav.opened) {
    <mat-icon> close </mat-icon>
    }
  </button>
  } Mumbo Jumbo is in Action!
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../../assets/mumbo-jumbo.png" />

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/welcome">
      <mat-icon>money</mat-icon>
      <span>Welcome</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/event-object">
      <mat-icon><i class="material-icons">attach_money</i></mat-icon>
      <span>$event object</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/directives">
      <mat-icon><i class="material-icons">directions</i></mat-icon>
      <span>Directives</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/dummy-submit-form">
      <mat-icon><i class="material-icons">directions</i></mat-icon>
      <span>Submit Form</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/user-portfolio">
      <mat-icon><i class="material-icons">supervised_user_circle</i></mat-icon>
      <span>User Portfolio</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/decorators">
      <mat-icon><i class="material-icons">supervised_user_circle</i></mat-icon>
      <span>Decorators</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/pipes">
      <mat-icon><i class="material-icons">border_vertical</i></mat-icon>
      <span>Pipes</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin-left: 25px">
      <!-- <h3>Few summary content here</h3> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
